
img{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;


}
body{
    background-color: rgb(228, 198, 158);
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}
p{
    text-align: center;
}
.retornar input{
    background-color: red;
    color: white;
    width: 5%;
    height: auto;
    float: left;
    cursor: pointer;
}
