*{
    margin: 0%;
}
body{
    background-image: url(fondo\ sala\ 2.png);
    background-size: cover;
}
body a div{
    width: 25%;
    height: auto;
    margin-left: 8%;
    margin-top: 16%;
    float: right;
    background-color: blueviolet;
}
.puerta{
    margin-top: 5%;
    width: 25%;
    height: auto;
}
.libroAcertijo{
    margin-top: 27%;
    width: 25%;
    height: auto;
}