*{
    margin-bottom: 0%;
}
body{
    background-image: url('../images/fondosala1.png');
    background-size: cover;
}

section form button div{

    width: 2%;
    height: auto;
    margin-top: 0%;
    background-color: greenyellow;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}
.libro1{
    float: none;
    clear: both;
    margin-top: 5%;
}
.libro2{
    float: right;
}
.puerta{
    width: 14%;
    height: 50%;
    background-color: brown;
    margin-top: 13%;
    padding-bottom: 30%;
    margin-left: 45%;

}
.cajaFuerte{
    width: 14%;
    height: 50%;
    background-color: blue;
    margin-top: 0%;
    
    margin-left: 45%;
}